.header {
  padding-top: 100px; }
  .header .holder {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between; }
    .header .holder .logo {
      margin-left: 32px; }
    .header .holder .text {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center; }
      .header .holder .text h1 {
        font-size: 67px;
        font-style: italic;
        margin-left: 32px; }

.document {
  margin-top: 110px; }
  .document .holder {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    background: #eeeeee; }
    .document .holder .visual {
      margin-top: 41px;
      margin-left: 115px; }
    .document .holder .text {
      margin-top: 62px;
      margin-right: 120px; }
      .document .holder .text span {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        font-size: 35px;
        line-height: 36px; }
      .document .holder .text .button {
        margin-top: 30px;
        display: none; }
        .document .holder .text .button button {
          background: #ff8e19;
          border: none;
          cursor: pointer;
          color: white;
          font-size: 15px;
          padding: 5px 12px;
          outline: none;
          text-transform: uppercase; }

.title-for-articles .holder {
  width: 60%; }
  .title-for-articles .holder .title {
    padding-top: 65px; }
    .title-for-articles .holder .title span {
      font-size: 33px;
      font-weight: bold; }

.article-1 .holder {
  padding-top: 50px;
  width: 75%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between; }
  .article-1 .holder .visual {
    margin-left: 125px;
    padding-bottom: 8px; }
  .article-1 .holder .descr {
    line-height: 30px;
    font-size: 25px;
    margin-right: 149px; }
    .article-1 .holder .descr .title {
      font-weight: bold; }
    .article-1 .holder .descr .text span {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex; }
    .article-1 .holder .descr .button {
      color: #ff6000;
      font-style: italic;
      cursor: pointer; }

.article-2 .holder {
  padding-top: 50px;
  width: 75%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between; }
  .article-2 .holder .visual {
    margin-left: 125px;
    padding-bottom: 8px; }
  .article-2 .holder .descr {
    margin-right: 229px;
    line-height: 35px;
    font-size: 25px; }
    .article-2 .holder .descr .title {
      font-weight: bold; }
    .article-2 .holder .descr .button {
      color: #ff6000;
      font-style: italic;
      cursor: pointer; }

.article-3 .holder {
  padding-top: 50px;
  width: 75%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between; }
  .article-3 .holder .visual {
    margin-left: 125px;
    padding-bottom: 8px; }
  .article-3 .holder .descr {
    margin-right: 15px;
    line-height: 35px;
    font-size: 25px; }
    .article-3 .holder .descr .title {
      font-weight: bold; }
    .article-3 .holder .descr .button {
      color: #ff6000;
      font-style: italic;
      cursor: pointer; }

.sponsors-title {
  padding-top: 112px; }
  .sponsors-title .holder {
    width: 1005px; }
    .sponsors-title .holder h2 {
      font-size: 33px;
      font-weight: bold; }

.sponsors .holder {
  display: flex;
  flex-direction: column; }
  .sponsors .holder .title {
    margin-top: 25px;
    font-size: 28px;
    text-transform: uppercase;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center; }
    .sponsors .holder .title .color {
      padding-right: 3px; }
    .sponsors .holder .title img {
      padding-right: 8px; }
  .sponsors .holder .text {
    margin-top: 22px; }
    .sponsors .holder .text span {
      line-height: 27px;
      font-size: 23px; }

.about-author {
  padding-top: 90px;
  padding-bottom: 80px; }
  .about-author .holder {
    width: 1005px;
    flex-direction: column; }
    .about-author .holder h3 {
      padding-bottom: 35px;
      font-size: 33px;
      font-weight: bold; }
    .about-author .holder .visual {
      padding-bottom: 35px; }
    .about-author .holder .text {
      font-size: 23px;
      line-height: 28px; }

.footer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  background: #9e9fa1; }
  .footer span {
    color: white;
    padding: 5px; }

@media (max-width: 1697px) {
  .header .holder .text h1 {
    font-size: 58px; } }

@media (max-width: 1660px) {
  .article-1 .holder .descr {
    font-size: 20px;
    margin-right: 106px; }
  .article-2 .holder .descr {
    font-size: 20px;
    margin-right: 171px; }
  .article-3 .holder .descr {
    font-size: 20px;
    margin-right: 0; } }

@media (max-width: 1588px) {
  .document .holder .text span {
    font-size: 30px; } }

@media (max-width: 1558px) {
  .header .holder .text h1 {
    font-size: 55px; } }

@media (max-width: 1454px) {
  .header .holder .text h1 {
    font-size: 48px; }
  .document .holder .text span {
    font-size: 23px; }
  .document .holder .desrc {
    margin-right: 0; } }

@media (max-width: 1414px) {
  .article-1 .holder .descr {
    font-size: 17px;
    margin-right: 95px; }
  .article-2 .holder .descr {
    font-size: 17px;
    margin-right: 149px; }
  .article-3 .holder .descr {
    font-size: 17px;
    margin-right: 0; } }

@media (max-width: 1343px) {
  .header .holder .text h1 {
    font-size: 43px; } }

@media (max-width: 1309px) {
  .title-for-articles .holder .title span {
    font-size: 25px; }
  .article-1 .holder .visual img {
    width: 280px; }
  .article-2 .holder .visual img {
    width: 280px; }
  .article-3 .holder .visual img {
    width: 280px; } }

@media (max-width: 1283px) {
  .document .holder .text {
    margin-right: 30px; } }

@media (max-width: 1246px) {
  .header .holder .text h1 {
    font-size: 38px; } }

@media (max-width: 1235px) {
  .article-1 .holder .visual {
    margin-left: 80px; }
  .article-2 .holder .visual {
    margin-left: 80px; }
  .article-3 .holder .visual {
    margin-left: 80px; } }

@media (max-width: 1180px) {
  .article-1 .holder .visual {
    margin-left: 40px; }
  .article-2 .holder .visual {
    margin-left: 40px; }
  .article-3 .holder .visual {
    margin-left: 40px; } }

@media (max-width: 1125px) {
  .article-1 .holder .visual {
    margin-left: 20px; }
  .article-2 .holder .visual {
    margin-left: 20px; }
  .article-3 .holder .visual {
    margin-left: 20px; } }

@media (max-width: 1095px) {
  .article-1 .holder .descr {
    font-size: 15px;
    margin-right: 82px; }
  .article-2 .holder .descr {
    font-size: 15px;
    margin-right: 133px; }
  .article-3 .holder .descr {
    font-size: 15px; } }

@media (max-width: 1171px) {
  .document .holder .text span {
    font-size: 18px; } }

@media (max-width: 1143px) {
  .header .holder .text h1 {
    font-size: 28px; } }

@media (max-width: 1015px) {
  .title-for-articles .holder .title span {
    font-size: 20px; }
  .article-1 .holder .visual img {
    width: 250px; }
  .article-2 .holder .visual img {
    width: 250px; }
  .article-3 .holder .visual img {
    width: 250px; } }

@media (max-width: 978px) {
  .article-1 .holder .visual img {
    width: 180px; }
  .article-1 .holder .descr {
    line-height: 25px; }
  .article-2 .holder .visual img {
    width: 180px; }
  .article-2 .holder .descr {
    line-height: 25px; }
  .article-3 .holder .visual img {
    width: 180px; }
  .article-3 .holder .descr {
    line-height: 25px; } }

@media (max-width: 971px) {
  .document .holder .visual img {
    width: 150px; }
  .document .holder .text span {
    font-size: 15px; }
  .article-1 .holder .visual {
    width: 220px; }
  .article-2 .holder .visual {
    width: 220px; }
  .article-3 .holder .visual {
    width: 220px; } }

@media (max-width: 942px) {
  .header .holder .text h1 {
    font-size: 25px; } }

@media (max-width: 936px) {
  .article-1 .holder .visual img {
    width: 180px; }
  .article-1 .holder .descr {
    font-size: 13px;
    margin-right: 69px; }
  .article-2 .holder .visual img {
    width: 180px; }
  .article-2 .holder .descr {
    font-size: 13px;
    margin-right: 113px; }
  .article-3 .holder .visual img {
    width: 180px; }
  .article-3 .holder .descr {
    font-size: 13px; } }

@media (max-width: 859px) {
  .header .holder .logo {
    margin-left: 0; }
  .header .holder .text h1 {
    display: none; }
  .header .holder .text .none {
    display: flex;
    font-size: 42px; }
  .document .holder .visual {
    margin-left: 20px; } }

@media (max-width: 890px) {
  .footer {
    display: none; }
  .about-author {
    display: none; }
  .sponsors-title .holder h2 {
    font-size: 17px; }
  .sponsors .title img {
    width: 190px; }
  .sponsors .holder .text span {
    font-size: 15px; } }

@media (max-width: 848px) {
  .document {
    margin-top: 50px; }
  .title-for-articles .holder .title span {
    font-size: 17px; }
  .article-1 .holder .descr {
    font-size: 11px;
    margin-right: 57px; }
  .article-2 .holder .descr {
    font-size: 11px;
    margin-right: 92px; }
  .article-3 .holder .descr {
    font-size: 11px; } }

@media (max-width: 767px) {
  .article-1 .holder {
    width: 55%; }
    .article-1 .holder .visual {
      display: none; }
  .article-2 .holder {
    width: 55%; }
    .article-2 .holder .visual {
      display: none; }
  .article-3 .holder {
    width: 55%; }
    .article-3 .holder .visual {
      display: none; } }

@media (max-width: 605px) {
  .article-1 .holder {
    width: 55%; }
    .article-1 .holder .descr {
      font-size: 10px; }
  .article-2 .holder {
    width: 55%; }
    .article-2 .holder .descr {
      font-size: 10px; }
  .article-3 .holder {
    width: 55%; }
    .article-3 .holder .descr {
      font-size: 10px; } }

@media (max-width: 553px) {
  .article-1 .holder {
    width: 55%; }
    .article-1 .holder .descr {
      font-size: 11px;
      margin-right: 0; }
  .article-2 .holder {
    width: 55%; }
    .article-2 .holder .descr {
      font-size: 11px;
      margin-right: 0; }
  .article-3 .holder {
    width: 55%; }
    .article-3 .holder .descr {
      font-size: 11px;
      margin-right: 0; } }

@media (max-width: 731px) {
  .document .holder {
    background: #414142;
    color: white; }
    .document .holder .text {
      margin-top: 44px; }
      .document .holder .text span {
        display: none; }
      .document .holder .text .none {
        display: block;
        font-size: 33px;
        line-height: 37px; } }

@media (max-width: 720px) {
  .document .holder .text .none {
    font-size: 23px; }
  .document .holder .text .button {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex; } }

@media (max-width: 612px) {
  .document .holder .text .none {
    font-size: 20px; } }

@media (max-width: 603px) {
  .header .holder .logo img {
    width: 140px; }
  .header .holder .text h1 {
    display: none; }
  .header .holder .text .none {
    display: flex;
    font-size: 37px; } }

@media (max-width: 550px) {
  .document .holder .visual img {
    width: 100px; }
  .document .holder .text {
    margin-top: 40px; }
    .document .holder .text .none {
      font-size: 12px; } }

@media (max-width: 550px) {
  .document .holder .visual img {
    width: 100px; }
  .document .holder .text {
    margin-top: 40px; }
    .document .holder .text .none {
      font-size: 12px; } }

@media (max-width: 420px) {
  .document .holder .visual img {
    width: 80px; }
  .document .holder .text {
    margin-top: 50px; }
    .document .holder .text .none {
      font-size: 10px;
      line-height: 14px; } }

@media (max-width: 463px) {
  .header .holder .logo img {
    width: 100px; }
  .header .holder .text .none {
    font-size: 27px; } }

@media (max-width: 352px) {
  .header .holder .logo img {
    width: 80px; }
  .header .holder .text .none {
    font-size: 25px; } }
